# GoLand
.idea/
*.iml
*.iws
*.ipr
.idea_modules/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with 'go test -c'
*.test

# Output of the go coverage tool
*.out
coverage.txt

# Dependency directories
vendor/

# Go workspace file
go.work.sum

# Binaries
bin/
dist/

# Environment variables
.env
.env.local

# macOS
.DS_Store

# Sensitive files
pkg/auth/cert/secret.pem